:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
